<p class="alert-danger">{{mensagem}}</p>
<div class="text-center">

	<div class="corpo-login">

		<form class="form-signin" ng-submit="autenticar()">

			<h1 class="h3 mb-3 font-weight-normal">Login</h1>
			<label for="inputEmail" class="sr-only">E-mail</label>
			<input type="email" id="inputEmail" ng-model="usuario.email" class="form-control" placeholder="E-mail" required autofocus>
			<label for="inputPassword" class="sr-only">Senha</label>
			<input ng-model="usuario.senha" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>


			<button class="btn btn-lg btn-primary btn-block" type="submit">Efetue o login</button>
			<div class="checkbox mb-3">
				<label>
					<a href="#/register"> ou registre-se</a>
				</label>
			</div>
			<p class="mt-5 mb-3 text-muted">Recruta-if &copy; 2018</p>
		</form>
	</div>
</div>