<!-- $scope.mensagem -->
<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <!--ng-model = "filtro" serve para transferir o input para o controller-->
            <div class="input-group">

                <span class="input-group-btn">
                    <a href="#/alterar-senha/" class="btn btn-primary">Voltar</a>
                </span>
                <input ng-model="filtro" class="form-control" placeholder="filtrar" ng-model-options="{debounce: 500}" />
            </div>
            <!--ng-model-options="{debounce:500}"  serve para dar um delay e não aplicar locamente o filtro -->
        </form>
    </div>
    <!--/col-->
</div>
<!--/row-->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table coluna-animada">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Data criação</th>
                        <th scope="col">Data expiração</th>
                        <th scope="col">Data inscrição</th>
                        <th scope="col">Status</th>
                        <th scope="col">Visualizar</th>
                    </tr>
                </thead>
                <!--o pipe | filter:filtro é basicamente o filtro que está sendo enviado pelo input acima-->
                <tbody ng-repeat="vaga in vagas | filter:filtro">
                    <tr>
                        <!--a class dessas colunas é uma animação de transição, porém não finciona com colunas :-( -->
                        <th scope="row">{{vaga.titulo}}</th>
                        <th scope="row">{{vaga.dataCriacao | date:'dd/MM/yyyy'}}</th>
                        <th scope="row">{{vaga.dataExpiracao | date:'dd/MM/yyyy'}}</th>
                        <th scope="row">{{vaga.dataInscricao | date:'dd/MM/yyyy'}}</th>
                        <th scope="row">{{vaga.status}}</th>
                        <th scope="row">
                            <a class="btn btn-primary" href="#/vaga/view/{{vaga.id}}">Visualizar</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>